<!DOCTYPE html>
<html>

<head>
  <title>Vaccine Clinic</title>
  <link rel="icon" type="image/jpg" href="/images/favicon.jpg" />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
    integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0=" crossorigin="anonymous"></script>
  <!-- FOR CALENDAR -->
  <link rel='stylesheet' href='/stylesheets/excite-bike/jquery-ui.min.css' />
  <link rel='stylesheet' href='/stylesheets/excite-bike/theme.css' />
</head>

<body>
  <div style="opacity: 0" id="app"><%= app %></div>
  <container>
    <h1>Vaccination Center</h1>
   
    <div id="datepicker"></div>
    <div class="helpText">Date Selected:&nbsp;<span id="selectedDate"></span></div>
    <div class="stripe"></div>
    <ul class="site">
      <li><input type="radio" name="site" value="471236"><span>&nbsp;&nbsp;BI - Commodore Options</span></li>
      <li><input type="radio" name="site" value="466979"><span>&nbsp;&nbsp;BI - Senior Center</span></li>
      <li><input type="radio" name="site" value="469984"><span>&nbsp;&nbsp;BI - Mobile</span></li>
      <li><input type="radio" name="site" value="466980"><span>&nbsp;&nbsp;Port Hadlock-Chimacum</span></li>
    </ul>
    <button disabled>Submit</button>

  </container>
  <loading>
    <div class="loading">
      Loading...
    </div>
  </loading>
  <script src="/js/index.js"></script>
</body>

</html>